<app-navbar></app-navbar>
<div class="row pt-4">
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-10">
        <button routerLink="/templates" type="button" class="btn btn-outline-primary">
          <i class="las la-arrow-left"></i>Back to gallery
        </button>
      </div>
      <div class="col-md-1">

      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-8">
        <img id="galleryPicture" [src]="this.shitPost.base64"/>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-3">
            <h5>Template:</h5>
          </div>
          <div class="col-md-6">
            <a routerLink="/templates/{{this.shitPost.baseTemplate.id}}}"></a>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
