<app-navbar></app-navbar>

<section class="py-5 container">
  <div class="row pt-lg-5">
    <div class="col-md-3">
      <a href="/images/{{image.id-1}}" *ngIf="image.id > 1" type="button" class="btn btn-lg btn-primary">Previous Image</a>
    </div>
    <div class="col-md-3">
      <div class="row justify-content-center">
        <a routerLink="/images" type="button" class="btn btn-lg btn-outline-primary">Image Gallery</a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row justify-content-center">
        <a *ngIf="this.isPosterCurrentUser; else otherUser"
           routerLink="/users/{{this.image.poster.id}}" type="button" class="btn btn-lg btn-outline-primary">Your Posts</a>
        <ng-template #otherUser>
          <a routerLink="/users/{{this.image.poster.id}}" type="button" class="btn btn-lg btn-outline-primary">
            {{this.image.poster.username}}'s Posts</a>
        </ng-template>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row justify-content-end">
        <a *ngIf="this.image.id < this.maxid" href="/images/{{this.image.id+1}}" type="button" class="btn btn-lg btn-primary">Next image</a>
      </div>
    </div>
  </div>
  <div class="row py-lg-5">
    <div class="col-md-6">
      <img id="galleryPicture" [src]="image.url"/>
    </div>
    <div class="col-md-4">
      <div class="row">
          <h5>URL: <a [href]="image.url">{{image.url}}</a></h5>
          <h5>Posted by: <a routerLink="/users/{{image.poster.id}}">{{image.poster.username}}</a></h5>
      </div>
    </div>
  </div>
</section>

<!--
<div class="container">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">

        </div>
        <div class="col-md-1">
          <p>Poster:</p>
          <a routerLink="/users/{{image.poster.id}}">{{image.poster.username}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-2">
    <div class="row">
      <div class="col-sm-1">

      </div>
      <div class="col-sm-10">
        <button routerLink="/images" type="button" class="btn btn-outline-primary">
          <i class="las la-arrow-left"></i>Back to gallery
        </button>
      </div>
      <div class="col-sm-1">

      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <img id="galleryPicture" [src]="image.url"/>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-3">
            <h5>Url:</h5>
          </div>
          <div class="col-sm-6">
            <a [href]="image.url">{{image.url}}</a>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h5>Posted by:</h5>
          </div>
          <div class="col-sm-6">
            hier könnte man Profile anfügen
            <a routerLink="/users/{{image.poster.id}}">{{image.poster.username}}</a>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">

  </div>
</div>-->
