<app-navbar></app-navbar>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="text-dark">Templates</h1>
      <p class="lead text-muted">
        Templates are the base for shitposts.
        Posted <a routerLink="/images">Images</a> go into the marked areas.
        If you are logged in you can add new templates
      <p>
        <a routerLink="/templates/add" class="btn btn-primary my-2">Add new Template</a>
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <ng-container *ngFor="let template of templates">
        <div class="col">

          <div class="card shadow-sm">
            <a [routerLink]="this.formatRouting(template.id)">
              <img [src]="template.baseUrl"
                   class="card-img-top"
                   width="100%"
                   height="225"
                   preserveAspectRatio="xMidYMid slice"
                   focusable="false"width="100%" height="100%">
            </a>
            <div class="card-body">
              <p class="card-text">Posted by:
                <a routerLink="/users/{{template.poster.id}}">
                  {{template.poster.username}}
                </a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button [routerLink]="this.formatRouting(template.id)" type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
