<app-navbar></app-navbar>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="text-dark">Add Template</h1>
      <p class="lead text-muted">
      <p class="lead text-muted">
        Templates are the base for shitposts.
        Posted <a routerLink="/images">Images</a> go into the marked areas.
      </p>
      <div class="form-group pt-2" id="enterURL">
        <label class="text-white">Image URL</label>
        <input class="form-control"
               [formControl]="formControls.url"
               [ngClass]="{'is-invalid':formControls.url.invalid}"
               type="url"
               placeholder="Enter Image URL">
        <ng-container *ngIf="
          formControls.url.invalid" )>
          <div class="urlInvalid">
            <small class="form-text text-danger">
              Please enter a valid URL
            </small>
          </div>
        </ng-container>
        <small class="form-text text-white">Copy-Paste url of images to include in shitposts.</small>
        <small class="form-text text-white">No, this page does not host any images.</small>
        <small class="form-text text-white">Don't link any porn else I'm telling the feds.</small>
        <div class="d-flex flex-row-reverse">
          <a (click)="this.submit()" class="btn btn-primary align-content-end">Submit</a>

          <button (click)="this.fetchImage()"
                  type="button"
                  [disabled]="formControls.url.invalid || !formControls.url.touched"
                  class="btn btn-outline-primary mx-2">
            Fetch Image
          </button>
        </div>
      </div>

    </div>
    <div class="col-lg-8 col-md-8">
      <div class="row">
        <div class="col">
          <image-cropper
            [imageURL]="this.imageUrl"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="false"
            format="png"
            (imageCropped)="imageCropped($event)"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
          >
          </image-cropper>

        </div>
      </div>
    </div>
    <div col-md-4 mx-auto>
      <ng-container *ngIf="isActive">
        <div class="card sm-3">
          <div class="row no-gutters">
            <div class="col-sm-6">
              <img class="card-img-top crop-preview" [src]="croppedImage" alt="Card image cap">
            </div>
            <div class="col-sm-6">
              <div class="card-body">
                <h5 class="card-title">Coordinates:</h5>
                <p class="card-text">X1: {{tempCoordinates[0]}} Y2: {{tempCoordinates[3]}}</p>
                <a (click)="saveCoordinates()" class="btn btn-primary">Save</a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngFor="let coordinate of croppedAreas; let i = index; trackBy coordinateTracker">
        <ng-container *ngIf="displayedPreviews[i]">
          <div class="card mb-3 mt-2">
            <div class="row no-gutters">
              <div class="col-sm-6">
                <img class="card-img-top crop-preview" [src]="croppedAreasPreview[i]" alt="Card image cap">
              </div>
              <div class="col-sm-6">
                <div class="card-body">
                  <h5 class="card-title">Coordinates:</h5>
                  <p class="card-text">X1: {{coordinate[0]}} Y2: {{coordinate[3]}}</p>
                  <button (click)="deleteCoordinate(i)" class="btn btn-danger">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</section>



