.landing {
  min-height: 100vh;
}
.cen {
  top: 50%;
  position: relative;
}

h1 {
  color: white;
}

body {
  background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?dpr=0.800000011920929&auto=format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop=");
  background-repeat: no-repeat;
  background-size: cover;
}

html,body {
  min-height: 100vh;
}
