.landing {
  min-height: 100vh;
}
.cen {
  top: 50%;
  position: relative;
}

h1 {
  color: white;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

html,body {
  min-height: 100vh;
}
