<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Shitpostbot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="col-md-9">
      <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/addTemplate"  class="nav-link" href="#">Add Template</a>
          </li>
          <li class="nav-item">
            <a routerLink="/addImage" class="nav-link" href="#">Upload image</a>
          </li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="navbar-nav float-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <!-- falls eingeloggt - aber das einloggen kommt erst spaeter!-->
          <div class="dropdown-menu mr-auto float-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">My Account</a>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
