<app-navbar></app-navbar>

  <body>
  <div class="row">
    <div class="col-md-3 col-1">
      <!--indent-->
    </div>
    <div class="col-md-6 col-10">
      <div class="form-group" id="enterURL">
        <label for="">Image URL</label>
        <input type="url" class="form-control" id="url"  placeholder="Enter email">
        <small class="form-text text-muted">Copy-Paste url of images to include in shitposts.</small>
        <small class="form-text text-muted">No, this page does not host any images.</small>
        <small class="form-text text-muted">Don't link any porn else I'm telling the feds.</small>
      </div>
    </div>
    <div class="col-md-3 col-1">
      <!--indent-->
    </div>
  </div>
  </body>

<app-unterbar></app-unterbar>
