/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../node_modules/bootstrap/scss/bootstrap";
@import '~ngx-toastr/toastr-bs4-alert';
@import "~line-awesome/dist/line-awesome/css/line-awesome.css";
@import "~ngx-smart-modal/ngx-smart-modal";

/*
IMPORTANT: TO RESIZE MODULE DIALOG WINDOW:
in ngx-smart-modal.scss
Edit .nsm-dialog to make changes
 */

html, body {
  min-height: 100%;
}

.landing {
  min-height: 100vh;
}
.cen {
  top: 50%;
  position: relative;
}

h1 {
  color: white;
}

body {
  //background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?dpr=0.800000011920929&auto=format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop=");
  background-repeat: no-repeat;
  background-size: cover;
}

html,body {
  min-height: 100vh;
}

$image-gallery-picutre-width: 800px;
$image-gallery-picutre-height: 600px;

$gallery-image-height: 300px;

$overflowConf : scroll;

$shitpost-max-width: 800px
