<app-navbar></app-navbar>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="text-dark">Images</h1>
      <p class="lead text-muted">
        Images are are placed in marked areas of <a routerLink="/templates">templates</a>.
        If you are logged in you can submit new images.
      <p>
        <a routerLink="/images/add" class="btn btn-primary my-2">Add new Image</a>
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <ng-container *ngFor="let image of images">
        <div class="col pt-2">
          <app-image-gallery-item [image]="image"></app-image-gallery-item>
        </div>
      </ng-container>
    </div>
  </div>
</div>
