<app-navbar></app-navbar>
<div class="row pt-2">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <h1 class="text-dark">Register</h1>
    <div id="form">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="usernameInput">Username</label>
          <input [formControl]="formControls.username"
                 type="email" class="form-control" id="usernameInput" placeholder="Enter Username">
          <small id="usernameHelp" class="form-text text-muted">No email needed</small>
          <a (click)="goToLoginMask()" href="/login" class="form-text">
            Already have an account? Log in here.
          </a>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input [formControl]="formControls.password"
                 [ngClass]="{'is-invalid': formControls.password.invalid
                 && formControls.password.touched}"
                 type="password" class="form-control" id="password" placeholder="Password">
          <ng-container *ngIf="
            formControls.password.invalid">
            <div class="passwordInvalid">
              <small class="form-text text-danger">
                Please enter a password (8-40 characters)
              </small>
            </div>
          </ng-container>
        </div>
        <button type="submit" class="btn btn-primary"
                [disabled]="formControls.username.value == '' ||
                            formControls.password.invalid ||
                            formControls.password.value == ''">
          Submit
        </button>
      </form>
    </div>
  </div>

  <div class="col-md-3">

  </div>
</div>
